.policePortalContainer *{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'FontAwesome';
}
/* 
body{
    display: flex;
    background: #dde8f6;
    overflow-y: auto;
    height: 100vh;
} */

.policePortalContainer {
    display: flex;
    background: #dde8f6;
    overflow-y: auto;
    flex-direction: row;
    align-items: flex-start;
    /* height: 100%;
    width: 100%; */
    position: sticky;
    top: 0;
}

.policePortalContainer nav {
    width: 280px;
    background: #fff;
    height: 100vh;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.policePortalContainer .page-hidden {
    padding: 20px;
    background: #f5f5f5;
    display: none;
}

.policePortalContainer .page-active{
    padding: 20px;
    background: #f5f5f5;
    /* height: calc(100vh - 20px);  */
    overflow-y: auto;
}

.policePortalContainer .page {
    margin-top: 100px;
}
.policePortalContainer .logo{
    color: rgb(85, 83, 83);
    text-align: center;
    display: flex;
    margin: 1rem 0.5rem 1rem;
}

.policePortalContainer .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.policePortalContainer .logo span{
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.policePortalContainer a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

.policePortalContainer ul li button{
    position: relative;
    background-color: transparent;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.policePortalContainer nav .fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.policePortalContainer .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

/* .policePortalContainer a:hover{
    background: #eee;
} */

.policePortalContainer ul li button:hover{
    background: #eee;
}

.policePortalContainer .logout{
    position: absolute;
    bottom: 0.5rem;
}

.policePortalContainer #RegisterPlea {
    width: 45rem;
    margin-top: 2rem;
    margin-left: 10rem;
    background-color: transparent;
    padding: 1rem;
}

.policePortalContainer .pleaForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.1);
    background: #fff;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%; 
    padding: 1.5rem;
    margin: 0 auto;
}

.policePortalContainer .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.policePortalContainer .radio-group {
    display: flex;
    gap: 5rem; 
    margin-top: 0.5rem;
}

.policePortalContainer .radio-group label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.policePortalContainer .radio-group input[type="radio"] {
    width:auto;
}

.policePortalContainer .form-group label {
    margin-bottom: 0.5rem;
    color: #353c4e;
    font-size: 1.1rem;
}

.form-group input,
.form-group textarea,
.policePortalContainer .form-group select {
    width: 50rem; 
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.policePortalContainer textarea {
    resize: vertical;
    height: 6rem;
}

.policePortalContainer .task-block-card button {
    background-color: #01a9ac;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 50%; 
    max-width: 150px;
    align-self: center;
    margin-left: -20rem;
}

.policePortalContainer .task-block-card button:hover {
    background-color: #019d9b;
}


.policePortalContainer #Home{
    position: static;
    padding: 20px;
    width: 100%;
    background: transparent;
}

.policePortalContainer #Assigned{
    position: static;
    padding: 20px;
    width: 100%;
    background: transparent;
}

.policePortalContainer .main-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
    justify-content: flex-start;
}

.policePortalContainer .main-skills .task-block-card {
    width: 30%;
    min-width: 200px;
    height: auto;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.policePortalContainer .task-title, .policePortalContainer .task-category, .policePortalContainer .task-description {
    margin-bottom: 10px;
}

.policePortalContainer .main-skills .task-block-card button {
    background: orangered;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    width: 6rem;
}

.policePortalContainer .main-skills .task-block-card button:hover {
    background: rgba(223, 70, 15, 0.856);
}

.policePortalContainer .view-more-btn{
    margin-top: 5rem;
    background-color: blue;
    color: white;
}

.policePortalContainer .home-use{
    position: absolute;
    padding: 20px; 
    margin-top: 15px; 
}
.policePortalContainer .home-use h1{
    font-size: 4rem;
    /* background-color: white; */
    border-radius: 20px;
    margin-left: auto;  
    margin-right: auto;
}
.policePortalContainer #Pending{
    position: static;
    padding: 20px;
    width: 100%;
    background: transparent;
} 

.policePortalContainer .home-use #MyQueries{
    /* margin-top: 4rem; */
    width: 23rem;
}
.policePortalContainer .home-use .card{
    width: 20rem;
}

.policePortalContainer .main-skills .task-block-card .accept-btn, .policePortalContainer .accept-btn{
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.policePortalContainer .main-skills .task-block-card .accept-btn:hover , .policePortalContainer .accept-btn:hover{
    background: rgba(0, 128, 0, 0.546);
}
.policePortalContainer .main-skills .task-block-card .reject-btn, .policePortalContainer .reject-btn{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.policePortalContainer .main-skills .task-block-card .reject-btn:hover , .policePortalContainer .reject-btn:hover{
    background: rgba(255, 0, 0, 0.546);
}

                    /* 'How to Use' Page */
.policePortalContainer #HowToUse {
    position: static;
    padding: 2rem;
    width: 100%;
    background: transparent;
    height: calc(100vh - 40px); 
    overflow-y: auto; 
}

.policePortalContainer #Accept{
    margin-top: 2rem;
    width: 65rem;
    background-color: peachpuff;
    height: 5rem;
    display: flex;
    text-align: center;
    border-radius: 5rem;
}
.policePortalContainer #Accept .accept-btn{
    margin-top: 0rem;
    margin-left: 1rem;
    height: 3rem;
    width: 7rem;
}
.policePortalContainer #Accept p{
    position: absolute;
    font-size: 2rem;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 10rem;
}

.policePortalContainer #Reject{
    margin-top: 2rem;
    width: 65rem;
    background-color: peachpuff;
    height: 5rem;
    display: flex;
    text-align: center;
    border-radius: 5rem;

}
.policePortalContainer #Reject .reject-btn{
    margin-top: 0rem;
    margin-left: 1rem;
    height: 3rem;
    width: 7rem;
}
.policePortalContainer #Reject p{
    position: absolute;
    font-size: 2rem;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 10rem;
}

.policePortalContainer #View-More{
    margin-top: 2rem;
    width: 65rem;
    background-color: peachpuff;
    height: 5rem;
    display: flex;
    text-align: center;
    border-radius: 5rem;
}
.policePortalContainer #View-More .view-more-btn{
    margin-top: 0rem;
    margin-left: 1rem;
    height: 3rem;
    width: 7rem;
}
.policePortalContainer #View-More p{
    position: absolute;
    font-size: 2rem;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 10rem;
} 

                        /* My Profile */
.policePortalContainer #Profile{
    margin-left: 17.5rem;
    width: 40rem;
    background-color: transparent;
}

.policePortalContainer .wrapper{
    position: absolute;
    margin-top: 20rem;
    left: 50rem;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 50rem;
    display: flex;
}

.policePortalContainer .wrapper .left{
    width: 35%;
    height: 40rem;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    margin-top: 0rem;
    margin-left: -1.9rem;
    padding: 12rem 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.policePortalContainer .wrapper .left i{
    font-size: 10rem;
    margin-top: -4rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.policePortalContainer .wrapper .left h4{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
}

.policePortalContainer .wrapper .right{
    width: 65%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3rem 2.5rem;
}

.policePortalContainer .wrapper .right .info, .policePortalContainer .wrapper .right .projects{
    margin-bottom: 2.5rem;
}

.policePortalContainer .wrapper .right .info h3, .policePortalContainer .wrapper .right .projects h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.policePortalContainer .wrapper .right .info_data .data, .policePortalContainer .wrapper .right .projects_data .data{
    width: 80%;
}
.policePortalContainer .wrapper .right .info_data .data h4, .policePortalContainer .wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
.policePortalContainer .wrapper .right .info_data .data p, .policePortalContainer .wrapper .right .projects_data p{
    font-size: 1rem;
    margin-bottom: 10px;
    color: #919aa3;
}

                        /* Modal Box to view Query-Details*/
.policePortalContainer .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.policePortalContainer .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.policePortalContainer .close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

userPortalContainer .close:hover,
.policePortalContainer .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.policePortalContainer .modal h2{
    margin-bottom: 10px;
}

.policePortalContainer .modal p{
    margin: 5px 0;
}

                        /* Settings Page */
.policePortalContainer #Settings{
    width: 40rem;
    margin-left: 25rem;
    background-color: transparent;
}

.policePortalContainer .wrapper-settings {
    position: absolute;
    margin-top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60rem;
    margin-left: 5rem;
    width: 40rem;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    font-size: 4rem;
}

.policePortalContainer .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.policePortalContainer .form-group label {
    margin-bottom: 0.5rem;
    color: #353c4e;
    font-size: 1.25rem;
}

.policePortalContainer .form-group input,
.policePortalContainer .form-group textarea {
    width: 25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.policePortalContainer .form-group select{
    width: 25rem;
}

.policePortalContainer textarea {
    resize: none;
    height: 8rem;
}

.policePortalContainer .form-group button {
    background-color: #01a9ac;
    color: white;
    margin-top: 1rem;
    margin-left: 0rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 50%; 
    max-width: 150px;
    align-self: center;
}

.policePortalContainer .form-group button:hover {
    background-color: #019d9b;
} 

.policePortalContainer .main-skills .task-block-card .view-more-btn {
    background: blue;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
} 

.policePortalContainer .main-skills .task-block-card .view-more-btn:hover , .view-more-btn:hover{
    background: #019d9b;
}
